# Artist table pipeline

Steps:
1. Load data from data folder
2. Extract table specific information into a pandas dataframe
3. Generate insert statements
4. Load data in SQL table

In [1]:
import os
os.chdir("../")

import warnings
warnings.filterwarnings("ignore")

In [2]:
import pandas as pd
from api.api_connect import fetch_api_data
import psycopg2 
from helpers import load_config, generate_insert_statements, write_insert_statements_to_file, run_script_file, load_data_file

config = load_config()

In [3]:
events = load_data_file("event_large")

In [4]:
# extract artists data
artist_dict = {
    "artist_id": [],
    "artist_name": []
    }
for event in events:
    artists = event["_embedded"]["attractions"]
    for artist in artists:
        artist_id = artist["id"]
        artist_name = artist["name"].replace("'", "''")
        if artist_id not in artist_dict["artist_id"]:
            artist_dict["artist_id"].append(artist_id)
            artist_dict["artist_name"].append(artist_name)

artist_df = pd.DataFrame(artist_dict)
artist_df.head()

     artist_id                              artist_name
0  K8vZ9171uv0                               Billy Joel
1  K8vZ9171hM0  Bruce Springsteen and The E Street Band
2  K8vZ9171ug7                        Bruce Springsteen
3  K8vZ917KVr7                               Luke Combs
4  K8vZ917KUtV                             Jordan Davis

In [5]:
insert_statements = generate_insert_statements(dataframe=artist_df, table_name="artist")
write_insert_statements_to_file(insert_statements, script_name="insert_artist")

Insert statements written to 'sql_scripts/insert_artist.sql' successfully!

In [6]:
run_script_file("insert_artist")

SQL script executed successfully!